<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row">
        <div class="fb-profile">
            <img id="profile-header-image" src="https://www.rctech.net/forum/attachments/painting-designs-graphics-photography/313869d1203642308-vector-mystery-machine-untitled-1.jpg" alt="Profile image example"/>
            
            <div id="profile-image-container">
                <!--<picture id="profile-image">
                    <source srcset="{{profileImageLoc}}">
                    <source srcset="http://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </picture>-->
                <img id="profile-image" src="{{profileImageLoc}}" alt="Profile image"/>        
                <label for="profile-image-uploader" *ngIf="isOwnProfile()">⇯  Update Profile Photo</label>
                <input (change)="uploadProfileImage($event)" id="profile-image-uploader" name="profileImage" type="file" accept="image/*" value="">
            </div>
            <div  id="profile-details" class="fb-profile-text col-md-8">
                <h1>{{firstName}} {{lastName}}</h1>
                <p>Enjoys Snacking.</p>
                <div><a href="../#/message/{{user_id}}">Messages</a></div>
                <!--<div><a href="../#/message/startconversation{{user_id}}">Start Conversation</a></div>-->
                    <div id="container">
                        <textarea [(ngModel)]="conversationStart" required id="new-conversation-start" placeholder="Start a conversation"></textarea>
                        <input id="new-conversation-start-button" type="button" value="Start" class="btn btn-primary" (click)="convStart()">
                    </div>
            </div>
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="border: solid">
            <app-friend></app-friend>
        </div>
        <div class="col-md-6" style="border: solid">
            <app-profile-wall></app-profile-wall>
        </div>
    </div>
</div> <!-- /container -->  