<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="https://www.rctech.net/forum/attachments/painting-designs-graphics-photography/313869d1203642308-vector-mystery-machine-untitled-1.jpg" alt="Profile image example"/>
            <img align="left" class="fb-image-profile thumbnail" src="https://upload.wikimedia.org/wikipedia/it/3/33/Shaggy_Rogers.jpg" alt="Profile image"/>
            <div class="fb-profile-text">
                <h1>Shaggy Rogers</h1>
                <p>Enjoys Snacking.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="border: solid">
            <app-friend-list></app-friend-list>
        </div>
        <div class="col-md-6">
                <app-post-list></app-post-list>
            </div>
    </div>
</div> <!-- /container -->  