<ul>
    <li *ngFor="let request of pendingRequests">
        <div class="list-group-item text-left  text-left">
            <img class="img-thumbnail" src="https://bootdey.com/img/Content/User_for_snippets.png">
            <label class="name">
                <p>{{ request.firstName }} {{ request.lastName }}</p><br>
            </label>
            <label class="pull-right">
                <a  class="btn btn-success btn-xs glyphicon glyphicon-ok" title="Accept"
                 (click)="acceptFriendRequest(request.user_id)"></a>
                <a  class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Decline"></a>
            </label>
          </div>
    </li>
</ul>
