<div style="text-align:center">
    Welcome to {{ title }}!
</div>
<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          <span id="reauth-username" class="reauth-username"></span>
          <input [(ngModel)]="credentials.username" name="username" type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
          <input [(ngModel)]="credentials.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div id="remember" class="checkbox">
              <!-- <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label> -->
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()">Login</button>
      </form><!-- /form -->
      <div>
            <a routerLink="/signup">New? Sign Up!</a>
      </div>
      <div>
          <a href="#" class="forgot-password">
                    Forgot the password?
            </a>
      </div>
  </div><!-- /card-container -->
</div>