.wallPost {
    margin: 1vmin;
    padding: 1vmin;
    box-sizing: border-box;
    position: relative;
    background: #e7e7e7;
    border-radius: 0.5vmin;
}

#imgContainer {
    float: left;
    position: relative;
    height: 8vmin;
    width: 8vmin;
    overflow: visible;
    z-index: 100;
    cursor: pointer;
}

#user-comment #imgContainer {
    height: 6vmin;
    width: 6vmin;
    padding-top: 1vmin;
}

#user-comment {
    padding-left: 2vmin;
}
#imgContainer:hover {
    z-index: 101;
}

#comment-body {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-left: 10vmin;
}


#userImg {
    max-width: 100%;
    border-radius: 100%;
    transition: all 250ms ease-in-out;
}

#userImg:hover {
    border-radius: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);;
    -moz-transform: translate(-50%, -50%);;
    max-width: 50vmin;
    z-index: 101;
}


#nameTag {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    color: darkblue;
    cursor: pointer;
}

#details {
    margin-left: 10vmin;
}

#postTime {
    color: #555;
    font-size: 0.8em;
}

hr {
    margin: 1vmin;
}

#body {
    margin-left: 10vmin;
}

#comment-area {
    display: flex;
    flex-direction: row;
}

#comment-break {
    border-color: #888;
    margin: 0.25vmin;
}

#comment-input {
    margin: 0.25vmin;
    flex-grow: 1;
    border-radius: 1vmin;
    border: 2px white ridge;
    background: white;
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#comment-input:focus, #comment-input:active {
    border: 2px white ridge;
}

#comment-input:empty:after {
    color: grey;
    content: "Add a comment...";
}

#comment-button {
    flex-grow: 0;
    margin: 0.25vmin;
    align-self: flex-end;
}

