.wallPost {
    margin: 1vmin;
    padding: 1vmin;
    box-sizing: border-box;
    position: relative;
    background: #e7e7e7;
    border-radius: 0.5vmin;
}

#imgContainer {
    float: left;
    position: relative;
    height: 8vmin;
    width: 8vmin;
    overflow: visible;
    z-index: 100;
    cursor: pointer;
}

#imgContainer:hover {
    z-index: 101;
}

#userImg {
    max-width: 100%;
    border-radius: 100%;
    transition: all 250ms ease-in-out;
}

#userImg:hover {
    border-radius: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);;
    -moz-transform: translate(-50%, -50%);;
    max-width: 50vmin;
    z-index: 101;
}


#nameTag {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    color: darkblue;
    cursor: pointer;
}

#details {
    margin-left: 10vmin;
}

#postTime {
    color: #555;
    font-size: 0.8em;
}

hr {
    margin: 1vmin;
}

#body {
    margin-left: 10vmin;
}